@import "_mixins.scss";
@import "_colors.scss";
@import "_fonts.scss";

.deleteBtn {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: $medium;
    transition: all 0.3s ease 0s;
  }
}

login register buttons .btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: $dark;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.columnDelete {
  padding-top: 5px;
  background-color: $highlight;
  width: 100%;
}

.logoutBtn {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:hover,
  &:focus {
    color: $medium;
    transition: all 0.3s ease 0s;
  }
}

.optionBtn {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:hover,
  &:focus {
    color: $medium;
    transition: all 0.3s ease 0s;
  }
}
