@import '_buttons.scss';
@import '_mixins.scss';
@import '_colors.scss';

// widok przed zalogowaniem

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.effiLogo {
  width: 150px;
  // position: absolute;
  // bottom: 10px;
  // left: 50%;
  // transform: translate(-50%);

  @media (min-width: 768px) {
    width: 300px;
    bottom: 50px;
  }
}

.effi {
  font-family: 'Leckerli One', cursive;
  font-size: 2rem;
}

.newProjectBtn {
  @include flexCenter;
  padding: 10px 0;
}

.selectContainer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bgColor;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $highlight;
  font-size: 1.5rem;

  @include breakpoint-tablet-large {
    padding-right: 20px;
    font-size: 2rem;
    font-weight: bold;
    gap: 30px;
    justify-content: flex-end;
  }
}

.selectContainer__select {
  // margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border-radius: 0.25em;
  height: 40px;
  color: $medium;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/icons/swap-vertical-bold.png) 96% / 15% no-repeat
    $bgColor;
  @include breakpoint-tablet-large {
    font-size: 1.6rem;
  }
}

.project {
  position: inherit;
  flex: 0 0 75%;
  height: 100vh;
  overflow-y: auto;

  @include breakpoint-tablet-large {
    flex: 0 0 auto;
    margin: 0 10px;
    border-radius: 10px;
  }

  .project__title {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  .project__form,
  .task__form {
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    .project__label,
    .task__label {
      padding-right: 5px;
    }
  }
}

.singleproject {
  &__link {
    width: 80vw;
  }
}

.single-row {
  display: flex;
  justify-content: space-between;
  padding: 3px 20px;
}

li {
  margin: 3px 5px;
  .list-row {
    display: flex;
    justify-content: space-between;
  }
}

input {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: 1px solid $light;
  padding-top: 3%;
  color: white;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  }
}

// input:focus {
//   background-color: transparent;
// }
