@import '_buttons.scss';
@import '_mixins.scss';
@import '_colors.scss';

// widok przed zalogowaniem

.landingPage-container {
  background: green;
  height: 100%;
}

.effiLogo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}

// widok po zalogowaniu

.homeView {
  @include flexCenter;
  .homeView__background {
    height: 640px;
    width: 360px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40%;
    filter: blur(5px) grayscale(80%);
    z-index: -1;
  }
  .homeView__title {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.95rem;
    color: rgb(39, 39, 39);
    font-weight: 600;
    text-align: center;
  }
}

.effi {
  font-family: 'Leckerli One', cursive;
  font-size: 2rem;
}

.board-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  .board__userName {
    font-size: 2.5rem;
    padding-left: 10px;
  }
}

.projectsContaniner {
  .projectsContaniner__title {
    padding: 0 0 10px 10px;
    display: flex;
    align-items: center;
  }
}

.newProjectBtn {
  @include flexCenter;
  padding: 10px 0;
}

.selectContainer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $highlight;
  border-top: 2px solid $dark;
}

.selectContainer__select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  height: 34px;
  color: $medium;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/icons/swap-vertical-bold.png) 96% / 15% no-repeat
    $bgColor;
}
