@import '_mixins.scss';

.nav {
  display: flex;
  background: $light;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  & > svg {
    display: none;
  }

  @include breakpoint-tablet-large {
    left: 0;
    top: 0;
    width: 25%;
    flex-direction: column;
    justify-content: start;

    position: inherit;
    flex: 0 0 25%;
    height: 100vh;

    & > svg {
      display: flex;
      margin: 50px 0;
    }
  }
}

.class__list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  &-element {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;

    @include breakpoint-phone {
      font-size: 40px;
    }

    @include breakpoint-tablet {
      font-size: 50px;
    }
  }

  &-text {
    display: none;

    @include breakpoint-tablet-large {
      display: block;

      &:hover {
        color: white;
      }
    }
  }

  a {
    padding: 10px 0;
    display: flex;
  }

  svg {
    margin: auto 1.1rem;
  }

  @include breakpoint-tablet-large {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// @include breakpoint-phone
// @include breakpoint-tablet
// @include breakpoint-tablet-large
// @include breakpoint-tablet-large
