.list {
  box-sizing: border-box;
  display: flex;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  width: 100%;
  &-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
  }
  &-title {
    position: relative;
    &:not(:nth-last-child(2))::after {
      border: 1px solid transparent;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    & span {
      bottom: 0px;
      box-sizing: border-box;
      display: block;
      position: absolute;
      white-space: nowrap;
      width: 100%;
    }
  }
  &-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
  }
  &-select:checked + &-title + &-content {
    margin-bottom: 0;
    margin-right: 0;
  }
}

///////////////

.list {
  border-color: #dedede;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  height: auto;
  &-title,
  &-select {
    background-color: #ffffff;
    color: #7f8787;
    width: 100%;
    height: 65px;
    font-size: 15px;
  }
  &-title span {
    transform: rotate(0deg);
    writing-mode: lr-tb;
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 33px;
    padding-right: 33px;
    line-height: 65px;
  }
  &-select {
    margin-bottom: -65px;
    margin-right: -65px;
  }

  &-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
  }
  &-content {
    background-color: #f7f7f7;
    color: #7f8787;
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
  }
  &-select:hover + &-title,
  &-select:checked + &-title {
    background-color: #ffffff;
  }
}
