@import '_colors.scss';
@import '_fonts.scss';

.list {
  box-sizing: border-box;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100%;
}

///////////////

.list {
  border-top-color: $medium;
  border-bottom-color: $dark;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  height: auto;
  &-title,
  &-select {
    background-color: $light;
    color: $dark;
    font-size: 2rem;
  }
  &-title span {
    padding-left: 33px;
    padding-right: 33px;
    line-height: 65px;
  }

  // &-select:hover + &-title,
  // &-select:checked + &-title {
  //   font-size: 1.8rem;
  //   background-color: $medium;
  //   color: $bgColor;
  // }
}

//////// tite hover efect

.project__title--wrapper {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark;
  & {
    display: inline-block;
    transition: 1s;
    &:hover {
      transform: skewX(-10deg) translateX(10px);
      cursor: pointer;
    }
  }
}

.project {
  .project__title {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  .project__form,
  .task__form {
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    .project__label,
    .task__label {
      padding-right: 5px;
    }
  }
}

.singleproject {
  &__link {
    width: 80vw;
  }
}

.single-row {
  display: flex;
  justify-content: space-between;
  margin: 3px 5px;
}

li {
  margin: 3px 5px;
  .list-row {
    display: flex;
    justify-content: space-between;
  }
}
// single project "nav"
.project {
  &__title--wrapper {
    .project__title {
    }
  }
  &__form {
  }
  &__label {
  }
  &__input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: $medium;
    color: $bgColor;

    &::placeholder {
      text-align: center;
      background-color: $medium;
      color: $bgColor;
      opacity: 0.5;
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}

//single column /list in project
.task__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding-top: 0 0 10px 0;
  .task__label {
  }
  .task__input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: $medium;
    color: $bgColor;

    &::placeholder {
      text-align: center;
      background-color: $medium;
      color: $bgColor;
      opacity: 0.5;
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}

// single task
.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 1.2rem;
}
