/* temporarly */
.project-canvas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  width: 377px;
  flex-direction: column;
  background: #574b90;
  font-size: 1.3rem;
  font-family: sans-serif;
  margin: 3px;
}

.column-header,
.column-content,
.column-footer {
  display: flex;
}

.column-header,
.column-footer {
  justify-content: space-around;
  height: 45px;
  padding: 8px;
}

.column-title,
.add-task {
  width: 233px;
  margin: auto 0 auto 0;
}

.column-title {
  background: transparent;
  border: none;
  font-size: 1.3rem;
}

.column-options {
  width: 34px;
  text-align: center;
}
