.sign_up_button,
.sign_in_button {
  width: 46vw;
  height: 12vh;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 1rem;
}

.form__container {
  position: relative;
}

.sign_up_button {
  position: absolute;
  top: 30vh;
  left: 25vw;
  background-color: brown;
}

.sign_in_button {
  position: absolute;
  top: 48vh;
  left: 25vw;
  background-color: coral;
}
